@import url("./globals.css");

.contact-center {
  margin: 0 auto;
  min-height: 60vh;
  display: grid;
  place-items: center;
}

.contact-info {
  display: grid;
  place-items: center;
  width: 90vw;
}

.contact-info p {
  margin-top: 10%;
}

.contact-info h2 {
}

@media screen and (min-width: 768px) {
  .contact-info {
    width: 80vw;
  }
  .contact-info p {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .contact-info {
    width: 70vw;
  }
}
