@import url("./globals.css");

.footer {
  background: var(--color-ter-2);
  color: var(--color-ter-1);
}

.footer .social-icon i {
  color: var(--color-ter-1);
}

.footer p {
  font-size: 1.2rem;
  text-align: center;
  padding: 2% 0%;
}

.footer ul {
  width: 40%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer ul {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
}
