@import url("./globals.css");

.footer p {
  text-align: center;
}

.footer ul {
  width: 30%;
}

@media screen and (min-width: 768px) {
  .footer ul {
    width: 0%;
  }
}

@media screen and (min-width: 1024px) {
  .footer ul {
    margin: 0 auto;
    width: 10%;
  }
}
