:root {
  /* primary color */
  --color-pri-1: rgb(212, 48, 67);

  /* secondary color */
  --color-sec-1: rgb(255, 250, 231);

  /* tertiary color */
  --color-ter-1: rgb(239, 239, 239);
  --color-ter-3: rgb(242, 242, 242);
  --color-ter-2: rgb(51, 44, 57);

  /*quaternary color*/
  --color-qua-1: rgb(255, 222, 0);
  --color-qua-2: rgb(255, 234, 32);

  --color-quad-1: #ff8b13;
  --color-quad-2: #fc7300;

  /*white*/
  --color-whi-1: #fff;

  /* font */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  /* shadows */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  /*spacing*/
  --spacing: 0.25rem;

  /*transition*/
  --transition: all 0.3s linear;
}

* {
  /*border: 1px solid black;*/
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background: var(--background-color);
  color: var(--color-primary-1);
  line-height: 1.5;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--font-primary);
  color: var(--color-primary-3);
}

h1 {
  font-size: 3rem;
}
h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--color-primary-1);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

section {
  margin-top: 5%;
  margin-bottom: 10%;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.social-iconss {
  display: flex;
  gap: 1px;
  min-width: 30%;
  width: auto;
  justify-content: space-around;
}

.social-icon {
  font-size: 1.5rem;
  color: black;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
