@import url("./globals.css");

.hero {
  background: var(--color-whi-1);
}

.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}

.hero-info {
  text-align: center;
  display: grid;
  place-items: center;
  gap: 50px;
}

.hero-info > a {
  cursor: pointer;
  text-transform: uppercase;
  width: 50%;
  padding: 1rem;
  box-shadow: var(--dark-shadow);
  background: var(--color-pri-1);
  color: var(--color-whi-1);
  font-weight: 600;
  transition: all 0.25s ease-in-out;
}

.hero-info > a:hover {
  transform: scale(1.1);
}

.hero-info > a:active {
  box-shadow: none;
}

.hero-info > a:visited {
  color: var(--color-whi-1);
}

.hero-info h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-sec-3);
}

.hero-icons {
  margin: 0 auto;
}

.hero-img {
  display: none;
}

@media screen and (min-width: 1024px) {
  .hero-info h4 {
    font-size: 2rem;
  }

  .hero-info > a {
    width: 30%;
  }
}
