@import url("./globals.css");

.project-center {
  min-height: 70vh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  background-image: linear-gradient(
    to left,
    var(--color-whi-1),
    var(--color-ter-1)
  );
  margin-bottom: 5%;
}

.project-center article {
  margin-top: 10%;
  margin-bottom: 10%;
}

.project-info {
  margin: 0 auto;
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr;
}

.project-info p {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

.view-project-container {
  margin: 0 auto;
  height: 10vh;
  width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-project-container a {
  display: inline-block;
  text-align: center;
  font-weight: 550;
  background: var(--color-qua-1);
  box-shadow: var(--dark-shadow);
  padding: 20px;
  transition: all 0.25s;
}

.view-project-container a:hover {
  transform: scale(1.1);
}

.view-project-container a:active {
  box-shadow: none;
}

.project-title {
  margin: 0 auto;
}

.project-image {
  margin: 0 auto;
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.project-image-center {
}

.project-photo {
  min-width: 100%;
  min-height: 100%;
  max-width: 18rem;
  max-height: 20rem;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
}

@media screen and (min-width: 768px) {
  .project-center {
    min-height: 80vh;
  }
  .project-info {
    margin-top: 10%;
    width: 80%;
  }

  .project-info p {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .project-center div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .project-info {
    width: 70%;
  }

  .project-title {
    width: min-content;
  }

  .project-image {
    width: 45vw;
  }

  .project-image-center {
    max-width: 24rem;
    max-height: 24rem;
  }

  .project-photo {
    max-width: 24rem;
    max-height: 24rem;
  }

  .view-project-container {
    width: 150px;
  }

  .view-project-container a {
    width: 150px;
  }
}

@media screen and (min-width: 1440px) {
}
