@import url("./globals.css");

.project-center {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.project-info {
  margin: auto auto;
}

.project-info p {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

.project-title {
  text-align: center;
}

.project-image {
  margin: 0 auto;
}

.project-image-center {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-photo {
  max-width: 20rem;
  max-height: 20rem;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
}

@media screen and (min-width: 768px) {
  .project-info {
    width: 80%;
  }

  .project-info p {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .project-center div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .project-info {
    width: 70%;
  }

  .project-photo {
    margin-left: 50%;
  }

  .project-title h3 {
    width: 100%;
    margin-left: 50%;
  }
}
