@import url("./globals.css");

.skills-center {
  margin: 0 auto;
  height: 70vh;
}

.skills-info {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin-top: 2%;
}

.skills-title {
  text-align: center;
  margin-bottom: 5%;
}

.skills-list {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.skills-list li {
  display: block;
  background: #f5f5f5;
  width: fit-content;
  font-size: 1.4rem;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .skills-center {
    height: 50vh;
  }

  .skills-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .skills-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
